{% extends "base.html" %} {% block title %}home{% endblock %} {% block body %}
{% if messages %} {% for message in messages %}
<div class="alert alert-success">{{ message }}</div>
{% endfor %} {% endif %}

<div class="container text-center">
  <div class="row">
    <h2 class="mt-5" style="text-align: center">
      Welcome {{ request.user.username }}
    </h2>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
      {{ request.user.username }} {{ request.user.username }}
    </div>
    <div class="col">
      <div class="d-flex align-items-center justify-content-center mt-5">
        <div
          class="btn btn-warning mx-1"
          type="submit"
          onclick="location.href='{% url 'edit' %}'"
        >
          Edit
        </div>
        <div
          class="btn btn-primary mx-1"
          type="submit"
          onclick="location.href='{% url 'logout' %}'"
        >
          Logout
        </div>
        <div
          class="btn btn-secondary mx-1"
          type="submit"
          onclick="location.href='{% url 'profile' %}'"
        >
          Edit profile
        </div>
        <!-- <div href="{% url 'logout' %}" class="btn btn-primary mx-1">logout</div> -->
      </div>
    </div>
  </div>
</div>

{% endblock %}
